*{
    font-family: 'Poppins';
    margin:0;
    padding: 0;
}
.sidebar{
    width: 291px;
    height: 100vh;
    left: 0px;
    top: 0px;
    color:white;
    background: #1C8B98;
    position: fixed ;
    display: flex;
    justify-content: center;
    align-items:normal
    
     
}
.sidebar .logo-container img{
    position: absolute;
width: 232px;
height: 62.1px;
left: 33px;
top: 41.4px;

background: #FFFFFF;
border-radius: 15px;
object-fit:contain;
}

.sidebar ul{
    margin-top: 40vh;
}
.sidebar ul li  {

   padding: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.sidebar a{
    color: white;
    text-decoration: none;
}

.greeting{
    display: flex;
    position: relative;
    float:right;
    margin-right: 10px;
    top:10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#search {
box-sizing: border-box;
position: absolute;
width: 464px;
height: 37px;
left: 335px;
top: 50px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 10px;
outline:none!important;

}

.search-button{
position: absolute;
width: 35px;
height: 45px;
left: 747px;
top: 46px;
}

.header-text h3{
    position: absolute;
    width: 242px;
height: 36px;
left: 363px;
top: 139px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
}


