*{
    font-family: 'Poppins';
    margin:0;
    padding: 0;
}
.sidebar{
    width: 291px;
    height: 2678px;
    left: 0px;
    top: 0px;
    color:white;
    background: #1C8B98;
    position: fixed ;
    display: flex;
    justify-content: center;
    align-items:normal
    
     
}
.sidebar ul{
    margin-top: 50vh;
}
.sidebar ul li {
   padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
}
.greeting{
    display: flex;
    position: relative;
    float:right;
    margin-right: 10px;
}

